.ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;

  @media (max-width: 1200px) {
    display: none;
  }

  @media (max-width: 992px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  li {
    cursor: pointer;

    @media (min-width: 800px) {
      transform: all 0.2s ease-in-out;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
