@import "/src/app/styles/variables";

.title {
  position: relative;

  h2 {
    text-align: center;
    font-weight: 600;
  }

  .back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    color: rgba($color: #333, $alpha: 0.1);
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 900;
  }

  .line {
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    margin: 0 auto;
    height: 2px;
    background: $gold;
  }
}

.how_to_use {
  padding-bottom: 150px;

  .items {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    .item {
      background: rgba($color: $gold, $alpha: 0.1);
      //   box-shadow: 0px 0px 8px 0px rgba($color: $gold, $alpha: 0.21);
      padding: 1rem;
      border-radius: 10px;
      position: relative;

      .view {
        margin-top: 1rem;
        border: 0;
        background: transparent;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        color: $gold;
        cursor: pointer;

        @media (min-width: 800px) {
          &:hover {
            .icon {
              transform: translateY(6px) translateX(10px);
            }
          }
        }

        .icon {
          font-size: 25px;
          transform: translateY(6px);
          transition: all 0.2s ease-in-out;
        }
      }

      h3 {
        text-transform: uppercase;
        background-image: linear-gradient(
          to right bottom,
          #0090f0,
          #0088e1,
          #007fd3,
          #0177c5,
          #036fb7
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: table;
        margin: 20px auto;
        font-weight: 900;
      }

      @media (min-width: 800px) {
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: scale(1.02);

          .btns {
            .num {
              opacity: 0;
              transform: scale(0);
            }
          }
        }
      }

      .btns {
        height: 20px;

        .num {
          opacity: 1;
          transform: scale(1);
          transition: all 0.2s ease-in-out;

          background-image: linear-gradient(
            to right bottom,
            #0090f0,
            #0088e1,
            #007fd3,
            #0177c5,
            #036fb7
          );
          height: 30px;
          width: 50px;
          position: absolute;
          border-radius: 5px;
          bottom: 10px;
          right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-weight: 900;
        }
      }
    }
  }
}
