@import "/src/app/styles/variables";

.wrapper {
  overflow-x: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: url("/img/1-2.jpg") no-repeat;

    height: 100vh;
    background-position: center;
    background-size: cover;
    z-index: -1;

    @media (min-width: 600px) {
      background-attachment: fixed;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba($color: #333333, $alpha: 0.85);
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
}
