.preview {
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
  }

  button {
    width: 200px;
  }

  .img {
    position: relative;

    @media (max-width: 1200px) {
      display: none;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5 {
      position: absolute;
      top: 0;
      right: 10rem;
      width: 200px;
    }

    .img1 {
      transform: translate(0, -20rem);
    }

    .img2 {
      transform: translate(0, -15rem);
    }
    .img3 {
      transform: translate(0, -10rem);
    }
    .img4 {
      transform: translate(0, -5rem);
    }
    .img5 {
      transform: translate(0, 0);
    }
  }
}

.parallax_text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #fff;
}
