@import "/src/app/styles/variables";

.card {
  display: grid;
  grid-template-columns: 280px 1fr;
  padding: 1rem;
  background: rgba($color: $gold, $alpha: 0.1);
  box-shadow: 0px 0px 8px 0px rgba($color: $gold, $alpha: 0.2);
  border-radius: 10px;
  position: relative;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    height: 450px;
  }

  @media (max-width: 800px) {
    grid-template-columns: 280px 1fr;
    height: auto;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    height: 450px;
  }

  @media (min-width: 800px) {
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: translateY(-5px);
    }
  }

  h3 {
    text-transform: uppercase;
    background-image: linear-gradient(
      to right bottom,
      #0090f0,
      #0088e1,
      #007fd3,
      #0177c5,
      #036fb7
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    font-weight: 900;
  }

  .info {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    display: flex;
    gap: 1rem;



    .g {
      width: 70px;
      background: #ed453b;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      color: #fff;
    }
  }

  .img {
    position: relative;
    width: 280px;
    margin: 0 auto;

    @media (max-width: 1200px) {
      margin-bottom: 20px;
    }

    img {
      object-fit: cover;
      width: 250px;
    }

    .green {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .jerry {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 120px;
    }
  }
}
