@import "/src/app/styles/variables";

.about {
  // margin-top: 150px;
  padding: 50px 0;
  // background: rgba($color: $gold, $alpha: 0.2);
  position: relative;

  .title {
    position: relative;

    h2 {
      text-align: center;
      font-weight: 600;
    }

    .back {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      color: rgba($color: #fff, $alpha: 0.2);
      font-size: 100px;
      text-transform: uppercase;
      font-weight: 900;

      @media (max-width: 700px) {
        display: none;
      }
    }

    .line {
      position: absolute;
      bottom: -30px;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 200px;
      margin: 0 auto;
      height: 2px;
      background: $gold;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/img/about.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    z-index: -1;
    background-attachment: fixed;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #333, $alpha: 0.8);
    object-fit: cover;
    z-index: -1;
  }

  h2 {
    text-align: center;
  }

  .items {
    margin-top: 100px;
    display: flex;
    // flex-direction: column;
  }
}
