.confirmation {
  width: 100vw;
  height: 100vh;
  background: rgba($color: #fff, $alpha: 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    max-width: 800px;

    @media (max-width: 800px) {
      padding: 0 10px;

      h2 {
        font-size: 20px;
        line-height: 20px;
      }
    }

    a {
      color: #333;
    }

    .btns {
      margin-top: 1rem;
      display: flex;
      gap: 1rem;
    }
  }
}
