@import "/src/app/styles/variables";

.row-title {
  /* border: 2px solid rgba(0, 0, 0, 0.1); */
  //   box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.15);
  background: rgba($color: #f9f9f9, $alpha: 1);

  padding: 10px !important;
  //   border-radius: 8px;
}

// .row-title.expanded > .icon-wrapper {
//   transform: rotate(225deg) !important;
//   background: #fff !important;
// }

/* .row-title.expanded > .icon-wrapper {
    transform: rotate(90deg) scale(1.05) !important;
  } */

.faq-row {
  border: 0 !important;
  padding: 0 !important;
}

.faq-title {
  border: 0 !important;
}
.faq-row-wrapper {
  background-color: transparent !important;
}
