@import "/src/app/styles/variables";

.products {
  padding: 50px 0;

  .title {
    position: relative;

    h2 {
      text-align: center;
      font-weight: 600;
    }

    .back {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      color: rgba($color: #333, $alpha: 0.1);
      font-size: 100px;
      text-transform: uppercase;
      font-weight: 900;
    }

    .line {
      position: absolute;
      bottom: -30px;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 200px;
      margin: 0 auto;
      height: 2px;
      background: $gold;
    }
  }

  .items {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

.block {
  margin-top: 100px;
  padding: 2rem;

  background-image: linear-gradient(
    to right bottom,
    #0090f0,
    #0088e1,
    #007fd3,
    #0177c5,
    #036fb7
  );
  box-shadow: 0px 0px 8px 0px rgba($color: $gold, $alpha: 0.5);
  border-radius: 10px;

  p {
    text-transform: none;
    font-weight: 400;
  }

  .btns {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;

    button {
      border-radius: 5px;
    }

    // button:nth-child(2) {
    //   border: 1px solid rgba($color: #fff, $alpha: 0.5);
    //   background: transparent;
    // }
  }
}
